
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/ScriptControllers/ControllerBook.js"></script>

<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>

.ScrollStyle
{
    max-height: 150px;
    overflow-y: scroll;
}

    <body>

        <div style="overflow:scroll">

            <div class="container col-sm-offset-1 col-sm-8">

                <div class="row">
                    <h2>Libros disponibles:</h2>
                </div>

                <div ng-app="myAppBook">
                    <div ng-controller="myCtrlBook" ng-init="getAllBooks()" class="divList">

                        <div>
                            <button type="button" class="btn btn-success" ng-click="BookManagement()">Manejo de libros</button>
                            <button type="button" class="btn btn-success" ng-click="ClientManagement()">Manejo de Clientes</button>
                        </div>

                        <p>
                            <br />
                            <br />
                        </p>

                        <table cellpadding="12" class="table table-bordered table-hover">
                            <tr>
                                <td>
                                    <b>ID</b>
                                </td>

                                <td>
                                    <b>Nombre</b>
                                </td>

                                <td>
                                    <b>Titulo</b>
                                </td>

                                <td>
                                    <b>Edicion</b>
                                </td>

                                <td>
                                    <b>Disponibles</b>
                                </td>

                                <td>
                                    <b>Acciones</b>
                                </td>

                            </tr>
                            <tr ng-repeat="book in books">
                                <td>
                                    {{book.id}}
                                </td>

                                <td>
                                    {{book.bookName}}
                                </td>

                                <td>
                                    {{book.tittle}}
                                </td>

                                <td>
                                    {{book.edition}}
                                </td>

                                <td>
                                    {{book.quality}}
                                </td>

                                <td>
                                    <input type="button" class="btn btn-warning" value="Seleccionar libro" ng-click="selectBook(book)" />
                                </td>
                            </tr>
                        </table>
                        <div class="form-horizontal" role="form">
                            <div class="container">
                                <div class="row">
                                    <h3>
                                        <span id="spn">Prestar libro a un cliente</span>
                                    </h3>
                                </div>
                                <div class="row">

                                    <div>
                                        <p>
                                            Libro a prestar: <input type="text" ng-model="inputBookName">
                                        </p>

                                    </div>
                                    <div>
                                        <p>
                                            Cedula del cliente: <input type="text" placeholder="cedula" ng-model="inputClientIdenty">
                                            <button type="button" class="btn btn-success" ng-click="findClientByIdenty()">Buscar cliente</button>

                                            <input type="text" ng-model="inputClientName">
                                         
                                        </p>
                                    </div>

                                    <div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        <input type="button" id="btnSave" class="form-control btn-space" value="PRESTAR" ng-click="takeBook()" />
                                        <input type="button" id="btnSave" class="form-control btn-space" value="DEVOLVER" ng-click="returnBook()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @Html.Hidden("BookID_")
                    @Html.Hidden("ClientID_")
                </div>
            </div>
        </div>
    </body>







